html {
  scroll-behavior: smooth;
}

.tariffGradient {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    rgb(227, 185, 251),
    rgb(193, 109, 247),
    rgb(126, 106, 239),
    rgb(91, 77, 236)
  );
  animation: glowing 5s ease alternate infinite;
  background-size: 400% 400%;
  padding: 1px;

  &:after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 8px;
    z-index: -1;
  }
}

.dark {
  .tariffGradient {
    &:after {
      background: rgb(10, 10, 12);
    }
  }
}

@keyframes glowing {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: rgb(227, 185, 251);
  border-radius: 50%;
  rotate: 35deg;

  height: 300px;
  width: 300px;
  top: 300px;
  right: 30%;
  filter: blur(150px);
  animation: shadow-slide infinite 5s ease-in-out alternate;
  z-index: -1;
}

@keyframes shadow-slide {
  from {
    background: rgb(227, 185, 251);
    transform: scale(1);
  }
  to {
    background: rgb(91, 77, 236);
    transform: scale(0.5);
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: rgb(227, 185, 251);
      transform: scale(1);
    }
    to {
      background: rgb(91, 77, 236);
      transform: scale(0.5);
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    right: calc(50% - 75px);
    top: 150px;
    width: 150px;
    height: 150px;
    filter: blur(100px);
  }

  @keyframes shadow-slide {
    from {
      background: rgb(227, 185, 251);
      transform: scale(1);
    }
    to {
      background: rgb(91, 77, 236);
      transform: scale(0.5);
    }
  }
}
